<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activity.com.movietesttwo.movieApp.com" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="movieApp.com.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
        </activity>
        <activity
            android:name="movieApp.com.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="movieApp.com.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="movieApp.com.activity.MainActivity" />
        </activity>
        <activity
            android:name="movieApp.com.activity.MovieDetails"
            android:label="@string/title_activity_movie_details" >
        </activity>

        <provider
            android:name="movieApp.com.database.MoviesProvider"
            android:authorities="activity.com.movietesttwo" />

        <service
            android:name="movieApp.com.Services.FetchMoviesService"
            android:exported="false" >
        </service>
    </application>

</manifest>
